* {
  box-sizing: border-box;
}
body {
	background: linear-gradient(to bottom right, #E7AB79, #B25068, #774360, #4C3A51);
  text-align: center;
  font-size: 1.15em;
    color: white;
    font-family: 'Playfair Display';
    font-size: 22px;
  border: #ddd;
}

img {
  border: 5px solid #4C3A51;
  max-width: 100%;
  height: auto;
}

h1 {
  text-shadow: 4px 4px #4C3A51;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.container {
  background: #4C3A51;
  margin: auto;
  max-width: 1000px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.column-text{
  display: flex;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}